{% extends "base.html" %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<h1>Checkout</h1>

{% if error %}
    <div>
        {{ error }}
    </div>
{% endif %}

<section>
    <h2>Productos</h2>

    <ul>
        {% for detalle in pedido.detalles_pedido.all %}
            <li>
                <strong>
                    {{ detalle.producto.nombre }}
                </strong>

                <span>
                    x {{ detalle.cantidad }}
                </span>

                <span>
                    Precio unitario: ${{ detalle.precio_unitario }}
                </span>

                <span>
                    Subtotal: ${{ detalle.subtotal }}
                </span>
            </li>
        {% empty %}
            <li>El pedido no tiene productos.</li>
        {% endfor %}
    </ul>
</section>

<section>
    <h2>Resumen</h2>

    <p>
        Subtotal: ${{ pedido.subtotal }}
    </p>

    <p>
        Costo de envío: ${{ pedido.costo_envio }}
    </p>

    <p>
        Descuento: ${{ pedido.descuento }}
    </p>

    <p>
        <strong>
            Total: ${{ pedido.total }}
        </strong>
    </p>
</section>

<section>
    <h2>Dirección de envío</h2>

    {% if form.errors %}
        <div>
            {{ form.direccion_id.errors }}
        </div>
    {% endif %}

    <form method="post">

        {% csrf_token %}

        {% for direccion in direcciones %}

            <div>
                <label>
                    <input 
                        type="radio" 
                        name="direccion_id"
                        value="{{ direccion.pk }}"
                    >

                    <strong>
                        {{ direccion.nombre }}
                    </strong>

                    <br>

                    {{ direccion.direccion }}

                    <br>

                    {{ direccion.ciudad }}, {{ direccion.departamento }}

                    {% if direccion.codigo_postal %}
                        <br>
                        Código postal:
                        {{ direccion.codigo_postal}}
                    {% endif %}

                    {% if direccion.es_principal %}
                        <br>
                        <strong>Dirección principal</strong>
                    {% endif %}

                </label>
            </div>
        {% empty %}
            <p>No tienes direcciones registradas.</p>
        {% endfor %}

        <input 
            type="hidden"
            name="accion"
            value="asignar_direccion"
        >

        <button type="submit">
            Seleccionar dirección
        </button>
    </form>
</section>

<section>
    <h2>Confirmar pedido</h2>

    {% if error %}
        <div>
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <input 
            type="hidden" 
            name="accion"
            value="confirmar"
        >
        <button type="submit">
            Confirmar pedido
        </button>
    </form>
</section>

{% endblock %}
