<h1>Mis pedidos</h1>

{% for pedido in pedidos %}
    <div>
        <h2>Pedido #{{ pedido.pk }}</h2>
        
        <p>Fecha: {{ pedido.fecha|date:"d/m/Y" }}</p>
        <p>Estado: {{ pedido.get_estado_display }}</p>
        <p>Total: {{ pedido.total }}</p>
    </div>
{% empty %}
    <p>Aún no tienes pedidos</p>
{% endfor %}

{% if is_paginated %}
    <nav>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">
                Anterior
            </a>
        {% endif %}

        <span>
            Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number}}">
                Siguiente
            </a>
        {% endif %}
    </nav>
{% endif %}
