{% extends 'base.html' %}

{% block title %}
Detalle pedido
{% endblock %}

{% block content %}

<h1>Pedido #{{ pedido.pk }}</h1>

<p>Estado: {{ pedido.get_estado_display }}</p>
<p>Fecha: {{ pedido.fecha|date:"d/m/Y" }}</p>

{% for detalle in pedido.detalles_pedido.all %}
    <div>
        <h2>{{ detalle.producto.nombre }}</h2>
        <p>Cantidad: {{ detalle.cantidad }}</p>
        <p>Precio unitario: {{ detalle.precio_unitario }}</p>
        <p>Subtotal: {{ detalle.subtotal }}</p>
    </div>
{% endfor %}

<section>
    <h2>Dirección de envío</h2>

    <p>Nombre: {{ pedido.direccion_envio.nombre }}</p>
    <p>Dirección: {{ pedido.direccion_envio.direccion }}</p>
    <p>Ciudad: {{ pedido.direccion_envio.ciudad }}</p>
    <p>Departamento: {{ pedido.direccion_envio.departamento }}</p>
    <p>Código postal: {{ pedido.direccion_envio.codigo_postal }}</p>
</section>

<section>
    <h2>Resumen del pedido</h2>

    <p>Subtotal del pedido: {{ pedido.subtotal }}</p>
    <p>Costo de envío: {{ pedido.costo_envio }}</p>
    <p>Descuento: {{ pedido.descuento }}</p>
    <p>Total: {{ pedido.total }}</p>
</section>

{% endblock %}
