<form 
    id="agregar-carrito" 
    method="post"
    action="{% url 'pedidos:agregar_producto' producto.pk %}"
>
    {% csrf_token %}

    {% if form.non_field_errors %}
    
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
        </div>

    {% endif %}

    <div class="mb-3">
        {{ form.cantidad.label_tag }}

        {{ form.cantidad }}

        {% if form.cantidad.errors %}

            <div class="invalid-feedback d-block">
                {{ form.cantidad.errors }}
            </div>

        {% endif %}
    </div>

    <button 
        type="submit"
        class="btn btn-primary w-100"
    >
        Agregar al carrito
    </button>
</form>