<figure>
    {% if producto.imagen_principal %}

        <img 
            src="{{ producto.imagen_principal.imagen.url }}" 
            alt="{{ producto.imagen_principal.texto_alternativo }}"
            width="500"
        >
    
    {% else %}

        <p>Imagen no disponible.</p>

    {% endif %}
</figure>

<aside>

    {% for imagen in producto.imagenes.all %}
        {% if not imagen.es_principal %}
            <img 
                src="{{ imagen.imagen.url }}"
                loading="lazy"
                alt="{{ imagen.texto_alternativo }}"
                width="500"
            >
        {% endif %}
    {% endfor %}

</aside>