<section>
    <h1 class="display-6 fw-bold">
        {{ producto.nombre }}
    </h1>

    <p class="text-muted mb-2">
        Marca: {{ producto.marca.nombre }}
    </p>

    <p class="text-muted">
        Categoría: {{ producto.categoria.nombre }}
    </p>

    <p class="fs-3 fw-bold">
        ${{ producto.precio_venta }}
    </p>
    
    {% if producto.stock > 0 %}

        <p class="text-succes fw-semibold">
            Stock disponible: {{ producto.stock }}
        </p>

    {% else %}

        <p class="text-danger fw-semibold">
            Producto agotado.
        </p>

    {% endif %}

    {% if producto.descripcion %}

        <hr>

        <h2 class="h4">
            Descripción
        </h2>

        <p>
            {{ producto.descripcion }}
        </p>
    {% endif %}

    {% if producto.stock > 0 %}

        <hr>

        {% include "catalogo/partials/formulario_carrito.html" %}

    {% endif %}

</section>