<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Tienda de Belleza
        {% endblock %}
    </title>

</head>

<body>
    
    <header>

        <nav>

            <a href="#">Logo</a>
            <a href="#">Inicio</a>
            <a href="{% url 'catalogo:lista_productos' %}">Productos</a>
            <a href="#">Categorías</a>
            <a href="#">Buscar</a>
            <a href="{% url 'pedidos:carrito' %}">Carrito</a>
            <a href="#">Mi cuenta</a>
            {% if user.is_authenticated %}
                <span>
                    {{ user.first_name }}
                </span>

                <form action="{% url 'usuarios:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Cerrar sesión
                    </button>
                </form>
            {% else %}
                <a href="{% url 'usuarios:login' %}">
                    Iniciar sesión
                </a>
            {% endif %}

        </nav>

    </header>

    <main>

        {% if messages %}
            <section>
                {% for message in messages %}
                    <p class="{{ message.tags}}">
                        {{ message }}
                    </p>
                {% endfor %}
            </section>
        {% endif %}

        {% block content %}

        {% endblock %}

    </main>

    <footer>

        Información de contacto

        Redes sociales

        Derechos de autor
        
    </footer>

</body>

</html>