{% extends "base.html" %}

{% block title %}
    Catálogo
{% endblock %}

{% block content %}

<div class="container py-4">

    <h1 class="mb-4">
        Catálogo
    </h1>

    {% include "catalogo/partials/formulario_busqueda.html" %}

    <section class="row g-4 mt-2">

        {% for producto in productos %}

            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                {% include "catalogo/partials/tarjeta_producto.html" %}
            </div>

        {% empty %}

            <div class="col-12">
                <p class="text-center">
                    No hay productos disponibles.
                </p>
            </div>

        {% endfor%}

    </section>

    <div class="mt-4">
        {% include "catalogo/partials/paginacion.html" %}
    </div>

</div>

{% endblock %}
